Django==1.9.2
gunicorn==19.4.5
mysqlclient==1.3.7
gevent==1.1rc3
greenlet==0.4.9
Scrapy>=1.1.0rc1
Twisted==15.5.0
cssselect==0.9.1
lxml==3.5.0
pyOpenSSL==0.15.1
pycrypto==2.6.1
python-dateutil==2.4.2
queuelib==1.4.2
scipy==0.17.0
six==1.10.0
w3lib==1.13.0
ipython==4.1.1
